# Raiz do projeto

# geral
node_modules
npm-debug.log*
.git
.gitignore

# não precisa ir pra imagem do backend
data
data/*

# não precisa ir pra imagem do backend também
frontend/node_modules
frontend/dist
