@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #161717;
}

.w100 {
    width: 100%;
}

.bg-glass{
    background-color: #0a0f13c5 !important;
    backdrop-filter: blur(10px);
}

.q-card {
  background: #161717;
  border: 1px solid rgba(233, 233, 233, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.635);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}